/*
color used
primary color (dark orange): #B86E0D
secondary color (burgandee): #4A0027
variation of burgandee: #763D5B
secondary color (dark gray): #363636
accent color (light gray): #606262
accent color (light orange): # FAF1E6
accent color (extra light gray): # EDEDED
white: #FFFFFF
black: #000000
*/

* {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

img {
	width: 100%;
	height: auto;
	max-width: 1024px;
}
#logo {
	margin-left: 20px;
  	max-width: 75px;
}

#about-picture {
	width: 100%;
	border-style: none;
}
picture {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-weight: 600;
	color: #4a0027;
	margin-top: 2em;
}

h2 {
	font-weight: 500;
	color: #4a0027;
	margin-bottom: 1.125em;
  text-align: center;
}

h3 {
	font-size: 1.5em;
	font-weight: 500;
	color: #4a0027;
}

h4 {
	font-size: 1.5em;
	font-weight: 700;
	color: #ffffff;
  text-align: center;
}

h5 {
	font-size: 1.5em;
	font-weight: 700;
	margin: 0;
  text-align: center;
	color: #4a0027;
}

p,
.p1,
.p2 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-size: 1.125em;
	font-weight: 400;
	color: #606262;
}

.p1 {
	font-size: 1.125em;
	font-weight: 400;
	color: #ffffff;
}

.p2 {
	font-size: 0.75em;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 1em;
}

.button {
	background-color: #4a0027; /*burgandee*/
	border: 0.25em solid #4a0027; /*burgandee*/
	border-radius: 0.375em;
	padding: 0.5em 2.5em;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-size: 1.125em;
	color: #ffffff; /*white*/
	cursor: pointer;
	display: inline-block;
}

.button:hover {
	border-radius: 6px;
	background-color: #363636;
	border: 0.25em solid #363636;
	text-decoration: none;
}

.email {
	background-color: #363636; /*gray*/
	border: 4px solid #ffffff; /*white*/
	border-radius: 6px;
	padding: 5px 32px;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
	color: #ffffff; /*white*/
	cursor: pointer;
	align-items: center;
	display: inline-block;
}
.email:hover {
	display: inline-block;
	background-color: #363636; /*gray*/
	border: 4px solid #606262; /*lightgray*/
	text-decoration: none;
	text-align: center;
	color: #606262; /*lightgray*/
	cursor: pointer;
	align-items: center;
}

.social.button {
	background-color: #363636; /*gray*/
	border: 4px solid #ffffff; /*white*/
	border-radius: 6px;
	padding: 6px 6px 6px 6px;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-size: 1.3125em;
	color: #ffffff; /*white*/
	cursor: pointer;
	align-items: center;
	min-width: 50px;
	min-height: 45px;
	max-width: 50px;
	max-height: 45px;
	margin: 6px;
	display: inline-block;
}

.social.button:hover {
	background-color: #363636; /*gray*/
	border: 4px solid #606262; /*lightgray*/
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	color: #606262; /*lightgray*/
}

.profile {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 450px;
}

.marissa-demmons {
	position: flex;
	text-align: center;
	margin-bottom: 16px;
	font-size: 3em;
	font-weight: 700;
	color: #b86e0d;
}

#recent-work {
  margin-bottom: 100px;
}

#about-page h3 {
	margin-top: 0;
}

header {
	width: 100%;
	background-color: white;
	border-bottom: 3px solid #4a0027;
	position: fixed;
}

nav {
	width: auto;
	float: auto;
	margin-right: 10px;
}
nav > ul {
	list-style-type: none;
   padding:0 8px;
}

nav > ul > li > a {
	text-decoration: none;
	padding: 0 8px;
	margin-right: 0px;
	font-size: 1.5em;
	font-weight: 700;
	color: #606262;
}
nav > ul > li > a.active {
	text-decoration: none;
	padding: 0 8px;
	font-size: 1.5em;
	font-weight: 700;
	color: #b86e0d;
}

main {
  padding-top: 100px;
}
footer > ul {
	list-style-type: none;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer > ul > li {
	display: inline-block;
}
footer > ul > li > a {
	text-decoration: none;
	padding: 0 8px;
}

#hero {
	text-align: center;
	background-color: #ffffff;
	background-size: contain;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 12px;
}


#hero span {
	display: block;
}

#skills {
	background-color: #faf1e6;
	margin: 0px;
	display: inline-block;
	width: 100%;
}

#footer {
	text-align: center;
	background-color: #363636;
	width: 100%;
  color: white;
  padding: 20px;
}

/* Layout styling */
.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.container2 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes color-changes {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}
.sun {
	animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}
.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}
.cloud-back {
	animation: 34s cloud-move-reverse infinite alternate linear;
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 20px;
  margin-right: 0px;
}
.navtoggle.responsive nav {
  padding: 0px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 0px 0;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 0px;
}

[class*='col-'] {
	float: left;
	padding: 0 10px;
}
@media only screen and (min-width: 320px){
.col-sm-12 {
  width: 100%;
} 
h1 { 
	font-size: 1.75em;
}
h2 {
	font-size: 1.75em;
}
p {
	font-size: 1em;
}
.marissa-demmons {
	font-size: 2em;
}
  header {
    padding:20px 0 13px;
  }

}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
	.col-md-6 {
		width: 50%;
	}
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 2em;
	}
	p {
		font-size: 1em;
	}
	.marissa-demmons {
		font-size: 3em;
	}
	header {
		padding: 20px 0 13px;
	}
	nav {
		width: auto;
		float: right;
	}
  nav > ul {
    margin: 8px 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  #logo {
    min-width:45px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
	header {
		text-align: unset;
		padding: 20px 0 13px;
	}
	h1 {
		font-size: 3.25em;
	}
	h2 {
		font-size: 2em;
	}
	p{
		font-size: 1.25em;
	}
	nav {
		width: auto;
		float: right;
	}
	.col-lg-7 {
		width: 60%;
	}
	.col-lg-5 {
		width: 40%;
	}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
	header {
		text-align: unset;
		padding: 20px 0 13px;
	}
	h1 {
		font-size: 3.25em;
	}
	h2{
		font-size: 2.25em;
	}
	nav {
		width: auto;
		float: right;
	}
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
	header {
		text-align: unset;
		padding: 20px 0 13px;
	}
	h1 {
		font-size: 3.25em;
	}
	h2 {
		font-size: 2.25em;
	}
	nav {
		width: auto;
		float: right;
	}
}

.padding-50-btm {
  padding-bottom: 50px;
}
